/*
    DESCRIPTION:
    Ansible credential variables used for Linux builds.
    - Variables are passed to and used by configuration scripts.
*/

// Ansible Credentials
ansible_username = "ansible"
ansible_key      = "<SSH public key for Ansible user goes here>"
