/*
    DESCRIPTION:
    Proxy variables used for Linux builds. (Optional)
    - Variables are passed to and used by configuration scripts.
*/

// Proxy Credentials
// communicator_proxy_host     = "proxy.example.com"
// communicator_proxy_port     = 3128
// communicator_proxy_username = "packer_proxy"
// communicator_proxy_password = "Sup3rdup3rSecr3t!"
